<% layout("layout/boilerplate.ejs") -%>
<body >
  <div class="container">
    <h1>Edit Your Details!</h1>
    <form action="/listings/<%= listing._id %>?_method=PATCH" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter title"
              name="title"
              required
              value="<%= listing.title %>"
            />
            <div class="invalid-feedback">Enter Title!</div>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select
              class="form-select"
              name="category"
              id="category"
              aria-label="Default select example"
              required
            >
            <option value="cars" selected>Cars</option>
            <option value="flats">Flats</option>
            <option value="electronics">Electronics & Appliances </option>
            <option value="homes">Home & Garden</option>
            <option value="fashion">Fashion & Beauty</option>
            <option value="services">Services</option>
            <option value="animals">Animals</option>
            <option value="jobs">Jobs</option>
            <option value="mobiles">Mobiles</option>
            <option value="bikes">Bikes</option>
            <option value="books">Books</option>
            <option value="laptops">Laptops</option>
            <option value="cameras">Cameras</option>

            </select>
          </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              placeholder="Enter price"
              name="price"
              required
              value="<%= listing.price %>"
            />
            <div class="invalid-feedback">Enter Price!</div>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              name="image"/>
            <div class="invalid-feedback">Choose a file!</div>
          </div>
        <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="Location"
              placeholder="Enter Location"
              name="location"
              required
               value="<%= listing.location %>"
            />
            <div class="invalid-feedback">Enter Location!</div>
          </div>
        <div class="row">
            <div class="mb-3 col-md-6">
              <label for="Phone" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="Phone"
                placeholder="Enter Phone"
                name="phone"
                required
                value="<%= listing.phone %>"
              />
              <div class="invalid-feedback">Enter Phone number!</div>
            </div>
            <div class="col-md-6">
              <label for="status" class="form-label">Status</label>
              <select
                class="form-select"
                name="status"
                id="status"
                aria-label="Default select example"
                required
                value="<%= listing.status %>"
              >
                <option value="1" selected>Sold</option>
                <option value="2">Available</option>
              </select>
            </div>
          </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="desc"
              rows="3"
              name="description"
              
            ><%= listing.description %></textarea>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
</body>
